.wp-block-gutenblurb-blurb {

// need to figure out how to make this just for heading
.editor-rich-text {
  align-self: flex-end;
  
}

  button {
    // make full width
    flex: 0 0 100%;
    
      &.remove-image {

        background-color: red;
        border: 2px red solid;
        padding: 5px 5px 0;
        position: absolute;
        top: 0;
        left: 0;
        opacity: .9;

        svg {
          background: red;
          fill: white;
        }

        &:hover {
          opacity: 1;
        }

      }

  }

}

