$black: #000;
$dark: #6d28ee;
$lightgray:#c7c7ca;

.entry-content .wp-block-gutenblurb-blurb,
.wp-block-gutenblurb-blurb {

  padding: 1rem;
  font-size: 20px;
  position: relative;
  background-size: cover;
  background-position: center center;
  // revisit - if hover text is long it gets cut
  min-height: 430px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  border: 1px solid $lightgray;
    
  .heading {
    transition: opacity 2s ease;
    -webkit-transition: opacity 2s ease;
    align-self: flex-end;
    padding: 5px;
    opacity: 1;
    margin-bottom:0;
  }

  .overlay {
    transition: opacity 2s ease;
    -webkit-transition: opacity 2s ease;
    position: absolute;
    top: 3%;
    bottom: 3%;
    left: 3%;
    right: 3%;
    display: flex;
    opacity: 0;
  }

  .more-text {
    align-self: center;
    margin: 0 auto;
    padding: 2%;
    // preserve white space entered in text box
    white-space: pre-wrap;
    line-height: 1em;
    opacity: 0;
  }

}

.entry-content .wp-block-gutenblurb-blurb:hover,
.wp-block-gutenblurb-blurb:hover {

    .heading {
      opacity: 0;
    }

    .overlay, .more-text {
      opacity: 1;
    }
   
}

