.wp-block-gutenblurb-blurb .editor-rich-text {
  -ms-flex-item-align: end;
      align-self: flex-end; }

.wp-block-gutenblurb-blurb button {
  -ms-flex: 0 0 100%;
      flex: 0 0 100%; }
  .wp-block-gutenblurb-blurb button.remove-image {
    background-color: red;
    border: 2px red solid;
    padding: 5px 5px 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .9; }
    .wp-block-gutenblurb-blurb button.remove-image svg {
      background: red;
      fill: white; }
    .wp-block-gutenblurb-blurb button.remove-image:hover {
      opacity: 1; }
